// Color system

$white: #fff;
$gray-100: #fafafa;
$gray-200: #f4f4f4;
$gray-300: #d9d9d9;
$gray-400: #bfbfbf;
$gray-500: #a5a4a4;
$gray-600: #8b898a;
$gray-700: #716e6f;
$gray-800: #575455;
$gray-900: #3d393a;
$black: #231f20;

$blue: #106581;
$red: #ed1c2e;
$green: #568110;
$orange: #e37d00;

$primary: $red;
$secondary: #6d7580;
$success: #287d3c;
$info: #1f45cd;
$warning: #ca9714;
$danger: #da620b;
$light: $gray-100;
$dark: $black;

$primary-d1: darken(desaturate($primary, 6.40), 5.49); // #d41929
$primary-d2: darken(desaturate($primary, 6.46), 11.18); // #ba1624

$secondary-d1: darken(desaturate(adjust-hue($secondary, 1), 0.08), 9.41); // #575d66
$secondary-d2: darken(saturate($secondary, 0.43), 18.63); // #41464d

$success-l4: lighten(desaturate(adjust-hue(#287d3c, -2), 27.71), 63.53); // #f2f7f3
$info-l4: lighten(desaturate(adjust-hue(#1f45cd, 2), 7.06), 49.02); // #ebeefb
$warning-l4: lighten(desaturate(adjust-hue($warning, 1), 16.76), 51.96); // #fbf7ec
$danger-l4: lighten(desaturate($danger, 20.39), 51.18); // #fcf4ee;

// Body

$body-color: $black;


// Links

$link-color: $body-color;
$link-decoration: underline;
$link-hover-color: $link-color;
$link-hover-decoration: none;


// Components

$border-radius: .25rem;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;


// Typography

$font-family-sans-serif: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base: 1rem;

$font-weight-bold: 800;
$font-weight-bolder: 900;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.125;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * .875;

$headings-font-weight: $font-weight-bolder;

$small-font-size: 87.5%;

$text-muted: $gray-700;


// Tables

$table-border-width: 0;

$table-head-color: $body-color;

$table-list-border-y-width: 0;
$table-list-border-x-width: 0;
$table-list-border-radius: 0;

$table-list-head-link: (
	text-decoration: none
);
$table-list-title-link: (
	color: $link-color,
	hover-color: $link-color,
);



// Buttons + Forms

$input-btn-padding-y: .8125rem;
$input-btn-padding-x: 1rem;

$input-btn-focus-width: .1rem;


// Buttons

$btn-padding-y: .595rem;
$btn-padding-x: .75rem;
$btn-font-size: .8125rem;

$btn-padding-y-sm: .35rem;
$btn-padding-x-sm: $btn-padding-x;
$btn-font-size-sm: $btn-font-size;

$btn-padding-y-lg: .85rem;
$btn-padding-x-lg: 1rem;
$btn-font-size-lg: $btn-font-size;

$btn-font-weight: 700;
$btn-disabled-opacity: .68;


$btn-outline-primary: () !default;
$btn-outline-primary: map-merge(
	(
		hover-bg: transparent,
		hover-color: $primary-d1,
		hover-border-color: $primary-d1,
		focus-bg: transparent,
		active-bg: transparent,
		active-color: $primary-d2,
		active-border-color: $primary-d2,
	),
	$btn-outline-primary
);

$btn-outline-secondary: () !default;
$btn-outline-secondary: map-merge(
	(
		border-color: $secondary,
		hover-bg: transparent,
		hover-border-color: $secondary-d1,
		hover-color: $secondary-d1,
		focus-bg: transparent,
		focus-border-color: $secondary,
		active-bg: transparent,
		active-border-color: $secondary-d2,
		active-color: $secondary-d2,
	),
	$btn-outline-secondary
);


// Forms

$input-label-color: $secondary;
$input-label-font-size: .875rem;
$input-label-disabled-color: rgba($secondary, .7);

$input-disabled-bg: $white;
$input-disabled-color: rgba($secondary, .7);
$input-disabled-border-color: $input-disabled-color;

$input-color: $body-color;
$input-border-color: $secondary;

$input-focus-border-color: $secondary-d2;
$input-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-focus-border-color;

$input-placeholder-color: $secondary;

$input-height: 3rem;
$input-height-sm: 2rem;

$input-label-reference-mark-font-size: .375rem;

$form-group-margin-bottom: 1.5rem;


// Form validation

$compat-form_validation: false;

$form-feedback-margin-top: 0;
$form-feedback-font-size: .875rem;

$form-feedback-success-bg: $success-l4;
$form-feedback-warning-bg: $warning-l4;
$form-feedback-danger-bg: $danger-l4;

$input-success-label-color: $success;
$input-warning-label-color: $warning;
$input-danger-label-color: $danger;


// Pagination


// Cards


// Badges


// Alerts

$alert-font-size: .875rem;

$alert-lead-font-size: $alert-font-size;
$alert-lead-font-weight: 600;

$alert-link-decoration: underline;
$alert-link-hover-decoration: none;

$alert-indicator-font-size: $alert-font-size;

$alert-success-bg: $success-l4;
$alert-success-color: $success;
$alert-success-border-color: $alert-success-color;
$alert-success-close-color: $alert-success-color;
$alert-success-link-color: $alert-success-color;

$alert-info-bg: $info-l4;
$alert-info-color: $info;
$alert-info-border-color: $alert-info-color;
$alert-info-close-color: $alert-info-color;
$alert-info-link-color: $alert-info-color;

$alert-warning-bg: $warning-l4;
$alert-warning-color: $warning;
$alert-warning-border-color: $alert-warning-color;
$alert-warning-close-color: $alert-warning-color;
$alert-warning-link-color: $alert-warning-color;

$alert-danger-bg: $danger-l4;
$alert-danger-color: $danger;
$alert-danger-border-color: $alert-danger-color;
$alert-danger-close-color: $alert-danger-color;
$alert-danger-link-color: $alert-danger-color;


// Breadcrumb

$breadcrumb-padding-x: 0;
$breadcrumb-bg: transparent;

$breadcrumb-divider-color: $gray-700;
$breadcrumb-active-color: $body-color;
$breadcrumb-active-font-weight: 800;

$breadcrumb-link-color: $gray-700;
$breadcrumb-link-hover-color: darken($breadcrumb-link-color, 15%);
$breadcrumb-link-text-decoration: none;

$breadcrumb-divider-svg-icon-height: .4em;
