// Color system

$gray-100: #fafafa;
$gray-200: #f4f4f4;
$gray-300: #d9d9d9;
$gray-400: #bfbfbf;
$gray-500: #a5a4a4;
$gray-600: #8b898a;
$gray-700: #716e6f;
$gray-800: #575455;
$gray-900: #3d393a;
$black: #231f20;

$blue: #106581;
$red: #ed1c2e;
$green: #568110;
$orange: #e37d00;

$primary: $red;
$secondary: #6d7580;
$success: #287d3c;
$info: #1f45cd;
$warning: #b95000;
$danger: #da0b1d;
$light: $gray-100;
$dark: $black;

$primary-d1: darken(desaturate($primary, 6.40), 5.49); // #d41929
$primary-d2: darken(desaturate($primary, 6.46), 11.18); // #ba1624

$secondary-d1: darken(desaturate(adjust-hue($secondary, 1), 0.08), 9.41); // #575d66
$secondary-d2: darken(saturate($secondary, 0.43), 18.63); // #41464d


// Body

$body-color: $black;


// Links

$link-color: $body-color;
$link-decoration: underline;
$link-hover-color: $link-color;
$link-hover-decoration: none;


// Components

$border-radius: .25rem;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;


// Typography

$font-size-base: 1rem;
$text-muted: $gray-700;


// Tables

$table-border-width: 0;

$table-head-color: $body-color;

$table-list-border-y-width: 0;
$table-list-border-x-width: 0;
$table-list-border-radius: 0;

$table-list-head-link: (
	text-decoration: none
);
$table-list-title-link: (
	color: $link-color,
	hover-color: $link-color,
);



// Buttons + Forms

$input-btn-focus-width: .1rem;
/*$input-btn-padding-y: .4375rem;
$input-btn-focus-width: .1rem;

$input-btn-padding-y-sm: .2rem;
$input-btn-padding-x-sm: .75rem;
$input-btn-font-size-sm: $font-size-base;

$input-btn-padding-y-lg: .7rem;
$input-btn-font-size-lg: $font-size-base;*/


// Buttons

$btn-padding-y: .61rem;
$btn-padding-x: .75rem;
$btn-font-size: .8125rem;

$btn-padding-y-sm: .35rem;
$btn-padding-x-sm: $btn-padding-x;
$btn-font-size-sm: $btn-font-size;

$btn-padding-y-lg: .85rem;
$btn-padding-x-lg: 1rem;
$btn-font-size-lg: $btn-font-size;

$btn-font-weight: 700;
$btn-disabled-opacity: .68;


$btn-outline-primary: () !default;
$btn-outline-primary: map-merge(
	(
		hover-bg: transparent,
		hover-color: $primary-d1,
		hover-border-color: $primary-d1,
		focus-bg: transparent,
		active-bg: transparent,
		active-color: $primary-d2,
		active-border-color: $primary-d2,
	),
	$btn-outline-primary
);

$btn-outline-secondary: () !default;
$btn-outline-secondary: map-merge(
	(
		border-color: $secondary,
		hover-bg: transparent,
		hover-border-color: $secondary-d1,
		hover-color: $secondary-d1,
		focus-bg: transparent,
		focus-border-color: $secondary,
		active-bg: transparent,
		active-border-color: $secondary-d2,
		active-color: $secondary-d2,
	),
	$btn-outline-secondary
);


// Forms


// Form validation


// Pagination


// Cards


// Badges


// Alerts


// Breadcrumb

$breadcrumb-padding-x: 0;
$breadcrumb-bg: transparent;

$breadcrumb-divider-color: $gray-700;
$breadcrumb-active-color: $body-color;
$breadcrumb-active-font-weight: 800;

$breadcrumb-link-color: $gray-700;
$breadcrumb-link-hover-color: darken($breadcrumb-link-color, 15%);
$breadcrumb-link-text-decoration: none;

$breadcrumb-divider-svg-icon-height: .4em;
