// Color system

$gray-100: #fafafa;
$gray-200: #f4f4f4;
$gray-300: #d9d9d9;
$gray-400: #bfbfbf;
$gray-500: #a5a4a4;
$gray-600: #8b898a;
$gray-700: #716e6f;
$gray-800: #575455;
$gray-900: #3d393a;
$black: #231f20;

$blue: #106581;
$red: #dd1c2e;
$green: #568110;
$orange: #e37d00;

$primary: $red;
$secondary: #6d7580;
$success: #287d3c;
$info: #1f45cd;
$warning: #b95000;
$danger: #da0b1d;
$light: $gray-100;
$dark: $black;


// Body

$body-color: $black;


// Links

$link-color: $body-color;
$link-decoration: underline;
$link-hover-color: $link-color;
$link-hover-decoration: none;


// Typography

$text-muted: $gray-700;


// Tables

$table-border-width: 0;

$table-head-color: $body-color;

$table-list-border-y-width: 0;
$table-list-border-x-width: 0;
$table-list-border-radius: 0;

$table-list-head-link: (
	text-decoration: none
);
$table-list-title-link: (
	color: $link-color,
	hover-color: $link-color,
);



// Buttons + Forms


// Buttons


// Forms


// Form validation


// Pagination


// Cards


// Badges


// Alerts


// Breadcrumb

$breadcrumb-padding-x: 0;
$breadcrumb-bg: transparent;

$breadcrumb-divider-color: $gray-700;
$breadcrumb-active-color: $body-color;
$breadcrumb-active-font-weight: 800;

$breadcrumb-link-color: $gray-700;
$breadcrumb-link-hover-color: darken($breadcrumb-link-color, 15%);
$breadcrumb-link-text-decoration: none;

$breadcrumb-divider-svg-icon-height: .4em;
