#header {
	display: flex;
	position: relative;
	justify-content: space-between;
	background-color: $header-bg;
	box-shadow: $header-box-shadow;
	z-index: 980;

	@include media-breakpoint-down(md) {
		align-items: center;
		height: $header-height-sm;
		padding-left: $header-padding-x;
		padding-right: $header-padding-x;
	}

	@include media-breakpoint-up(lg) {
		width: $header-width-lg;
		flex-direction: column;
		padding-top: $header-padding-y;
		padding-bottom: $header-padding-y;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		transition: width 0.5s ease;

		&:hover {
			width: $header-width-open-lg;
		}

		.has-control-menu & {
			top: 57px;
		}
	}

	.logo {

		@include media-breakpoint-up(lg) {
			margin-left: ($header-width-lg - $logo-width) / 2;
		}
	}

	.logo-icon {
		width: $logo-width;
	}

	.nav-user-bar {
		display: flex;
		align-items: center;

		@include media-breakpoint-up(lg) {
			align-items: normal;
			flex-direction: column;
			width: $header-width-lg;
			text-align: center;
		}
	}

	.user-notification {
		margin-right: 1rem;

		@include media-breakpoint-up(lg) {
			margin-right: initial;
			margin-bottom: 1rem;
		}
	}

	.user-personal-bar .sticker-primary {
		background-color: $header-bg;
	}
}
