#wrapper {
	padding-top: $wrapper-padding-top;
}

#content {

	@include media-breakpoint-down(sm) {
		padding-bottom: $content-padding-bottom-sm;
	}

	@include media-breakpoint-up(lg) {
		padding-left: $content-padding-left-lg;
	}
}