// Header

$header-width-lg: 4.5rem;
$header-height-sm: 4.5rem;
$header-width-open-lg: 12.5rem;
$header-padding-x: 1rem;
$header-padding-y: 1rem;
$header-bg: $white;
$header-box-shadow: map-get($elevation, 3);

$logo-width: 3.5rem;


// Navigation

$navigation-height-sm: 4rem;
$navigation-padding-y: .5rem;
$navigation-bg: $white;
$navigation-box-shadow: map-get($elevation, 3);
$navigation-box-shadow-sm: map-get($elevation, 6);

$nav-link-font-size: .875rem;
$nav-link-font-size-sm: .75rem;

$layout-icon-width: $header-width-lg;
$layout-icon-height: 2.5rem;


// Layout

$wrapper-padding-top: 0;

$content-padding-left-lg: $header-width-lg;
$content-padding-bottom-sm: $navigation-height-sm;

$main-content-padding-x: 1.5rem;
$main-content-padding-x-sm: 1rem;
$main-content-padding-x-xl: 2.25rem;

$main-content-padding-y: 1.5rem;
$main-content-padding-y-sm: 1rem;
$main-content-padding-y-xl: 2.25rem;


// Changes Feedback

$changes-feedback-text-font-size: 87.5%;
$changes-feedback-indicator-size: .5rem;
$changes-feedback-indicator-bg: $gray-700;
$changes-feedback-indicator-unsaved-bg: theme-color("warning");
