.registration-code-link {
    margin-bottom: 2rem;
    margin-top: .5rem;
    margin-left: 1rem;
}

.registration-help-text {
    font-size: .9rem;
}

.user-registration {
    border: 1px solid rgba(125, 126, 133, 0.3);
    border-radius: 2px;
    box-sizing: border-box;
    max-width: 464px;
    margin: 0 auto;
    padding: 56px 32px;
    width: 100%;
}